<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Ignore assets" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" negate="true" pattern="^/home/login" ignoreCase="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/(tempmusic|js|css|api|app|scripts|content)" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="/home/index" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>



