<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Ignore assets" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="/" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/(tempmusic|js|css|api|app|scripts|content)" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
